body {background: #fff9e3}
body {
font-family: proxima-soft-condensed, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 28px;
margin: 85px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff9e3;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: #577747;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #d9f5df;
}

.active {
  background-color: #f4f4d7;
}

h1 {color: #4da34a}
h2 {color: #806000; font-size: 30}
h3 {color: #cb4838; font-size: 40}
p1 {color: #806000}
p {color: #577747}
span {color:#4da34a}
span1 {color: #cb4838}